@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gridcont { 
  display: grid; 
  margin-top: 3rem;
  gap: 20px; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); 
}

@media screen and (max-width: 844px) {
  .gridcont {
    display: grid;
    margin-top: 3rem;
    gap: 15px; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    padding-left: 3%;
    padding-right: 3%;
  }

  .spec-font { 
    font-size: 10px;
    text-align: center; 
  }
  
  .grid-item { 
    padding: 0.5rem; 
  }

  .image-border { 
    padding: 0.5rem;
  }
  
  .under-image-border { 
    padding-top: 1rem;
  }
  
}

.grid-item {
  border: 5px solid #ccc;
}

.fill-image {
  width: 100%; 
  height: 90%; 
  object-fit: cover; 
}

